[**@ferroui/schema**](../../README.md)

***

Defined in: [types.ts:180](https://github.com/jxoesneon/FerroUI/blob/43f31a9c88cc61ac36f959f0f168a9323f8272f2/packages/schema/src/types.ts#L180)

## Type Parameters

### T

`T`

## Properties

### data?

> `optional` **data?**: `T`

Defined in: [types.ts:182](https://github.com/jxoesneon/FerroUI/blob/43f31a9c88cc61ac36f959f0f168a9323f8272f2/packages/schema/src/types.ts#L182)

***

### errors?

> `optional` **errors?**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [types.ts:183](https://github.com/jxoesneon/FerroUI/blob/43f31a9c88cc61ac36f959f0f168a9323f8272f2/packages/schema/src/types.ts#L183)

***

### valid

> **valid**: `boolean`

Defined in: [types.ts:181](https://github.com/jxoesneon/FerroUI/blob/43f31a9c88cc61ac36f959f0f168a9323f8272f2/packages/schema/src/types.ts#L181)
